/* http://chir.ag/projects/name-that-color */

$outerSpace: #2c3338;
$shuttleGrey: #606468;
$brightGrey: #3b4148;
$gallery: #eee;
$mako: #434a52;
$tuna: #363b41;
$frenchRose: #ea4c88;
$cabaret: #d44179;
$silver: #ccc;
